/* resize the viewport to 100% width and height */
:root {
  --blue-color-01: #00f;
  --blue-color-02: #008;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  overflow: scroll;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.app-person-profile h2,
.app-person-profile h3,
.app-person-profile h4 {
  color: #008;
  font-size: 1.5rem;
}

/* the Address Book container */
.app-address-book {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* the alphabetical list of people */
.app-directory-container {
  max-height: calc(100vh - 80px);
  margin-top: 80px;
  overflow: auto;
}

.app-directory {
  overflow: auto;
}

.app-directory-separator,
.app-directory-item {
  padding: 2px 10px;
}

.app-directory-item {
  position: relative;
}

.app-directory-separator {
  font-size: 1.25em;
  color: var(--blue-color-01);
}

.app-directory-item:hover {
  background-color: #eef;
  cursor: pointer;
}

.app-person-profile-container {
  overflow: auto;
  margin-top: 50px;
}

.app-person-profile {
  position: relative;
  overflow: auto;
  padding: 10px;
}

.app-person-profile-photo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 125px;
  height: 125px;
  border-radius: 113px;
  border: 2px solid var(--blue-color-01);
  overflow: hidden;
  background-size: contain;
  aspect-ratio: 1 / 1;
}

.app-person-profile-header {
  min-height: 145px;
  margin-left: 145px;
}

.app-person-profile h2 {
  margin: 10px 0 0 0;
  padding: 0;
  color: #008;
}

.app-history-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.app-history-item-dates {
  flex: none;
  padding-right: 20px;
  font-weight: bold;
  width: 145px;
}

.app-history-item-body {
  flex-grow: 1;
}

.app-history-item-title {
  font-weight: bold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-control {
  border: 2px solid var(--blue-color-01);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
}

.form-control:focus {
  border-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.sort-button {
  background-color: var(--blue-color-01);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-button:hover {
  background-color: var(--blue-color-02);
}

.sort-button:active {
  background-color: var(--blue-color-02);
}

.contacts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.no-contacts-text {
  position: absolute;
  left: 80px;
  top: 80px;
}

#contact-list-navigation {
  border-right: 2px solid #666;
}
